In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.random.randint(0,100, size=(4,4)), columns=list('ABCD'))

In [6]:
df

    A   B   C   D
0  71  95   5  18
1   4  34  83  95
2  23  15  77  75
3   8  67  33  62

In [12]:
df2 = df.rename(columns={"A":"Random Value 1","B":"Random Value 2","C":"Random Value 3","D":"Random Value 4"})
print(df2)

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0              71              95               5              18
1               4              34              83              95
2              23              15              77              75
3               8              67              33              62

In [13]:
stats = df2.describe(include = "all")
print(stats)

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean        26.500000       52.750000       49.500000       62.500000
std         30.773365       35.424803       37.107951       32.624122
min          4.000000       15.000000        5.000000       18.000000
25%          7.000000       29.250000       26.000000       51.000000
50%         15.500000       50.500000       55.000000       68.500000
75%         35.000000       74.000000       78.500000       80.000000
max         71.000000       95.000000       83.000000       95.000000

In [14]:
df2.isnull().any()

Random Value 1    False
Random Value 2    False
Random Value 3    False
Random Value 4    False
dtype: bool

In [15]:
a = df2.dtypes
print(a)

Random Value 1    int64
Random Value 2    int64
Random Value 3    int64
Random Value 4    int64
dtype: object

In [16]:
df2.loc[:,["Random Value 2","Random Value 3"]]

   Random Value 2  Random Value 3
0              95               5
1              34              83
2              15              77
3              67              33

In [17]:
df2.iloc[:,[1,2]]

   Random Value 2  Random Value 3
0              95               5
1              34              83
2              15              77
3              67              33